footer {
    border-bottom: 2px double white;
    background-color:black;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',  'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}