.nav-link {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.nav-link:hover {
    color: gold;
}

.logo {
    height: 50px;  /* ajuste la taille du logo */
    width: 50px;
    border-radius: 10px;
}

.navbar-nav {
    background-color: #00000080;
    border-radius: 20px;
    margin: 15px auto;
    padding-top: 10px;
}


