.login-image {
      background-image: linear-gradient(rgba(14,17,32,0.062),rgba(14,17,32,0.815)),url('../img/hero.jpg');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
}